* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote,            /* structural elements 結構元素 */
dl, dt, dd, ul, ol, li,  /* list elements 清單元素 */
pre,                          /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表單元素 */
th, td,                       /* table elements 表格元素 */
img {                       /* img elements 圖片元素 */
border:medium none;
margin: 0;
padding: 0;
}


/** 設置預設字體 **/


@font-face {
    font-family: Requiem;
    src: local("requiem"),
        url("../../assets/images/Requiem.ttf") format("truetype");
}


body,button, input, select, textarea {
font: 13px Requiem,tahoma, helvetica,
sans-serif;
}


h1, h2, h3, h4, h5, h6 { font-size: 100%; }


em{font-style:normal;}


/* 重置清單元素 */


ul, ol { list-style: none; }


/* 重置超連結元素 */


a { text-decoration: none; color:#333;}


a:hover { text-decoration: underline; color:#F40; }


/* 重置圖片元素 */


img{ border:0px;}


/* 重置表格元素 */


table { border-collapse: collapse; border-spacing: 0; }


.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    overflow: hidden;
}


.background_image {
        background: url('../../assets/images/background-100.jpg') top left no-repeat;
        background-size: cover;
    }


.playArea {
    position: absolute;
    min-width: 768px;
    height: 98%;
    z-index: 2;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(.7);
            transform: translateY(-50%) translateX(-50%) scale(.7);
    overflow: visible;


    
    

}


@media (min-height: 600px) {


.playArea {
        -webkit-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%)


    
    

}
    }


.playArea_image {
        background: url('../../assets/images/paper-wide.png') center center no-repeat;
        background-size: contain;
        position: absolute;
        z-index: 0;
    }


.wrapper {
    position: absolute;
    height: 95vh;
    width: 100%;
    top: 25px;
    left: 25px;
}


/* 此為gulp自動化整集svg檔的模板，請小心更改此處  */


.icon {
        background-image: url('../../assets/images/sprites/sprite-8cfa28d0.svg');
        background-repeat:  no-repeat;
        display: block;
    }


.icon--O {
        width: 31.65px;
        height: 30.08px;
        background-position: 96.4775982582789% 35.42554450757576%;
    }


.icon--X {
        width: 30.92px;
        height: 29.56px;
        background-position: 96.31646380525305% 44.25895284245361%;
    }


.icon--btn {
        width: 52.12px;
        height: 56.51px;
        background-position: 98.67269404635952% 59.3598510385566%;
    }


.icon--btn-1950 {
        width: 66.04px;
        height: 70.49px;
        background-position: 71.29565130858792% 62.14917145642162%;
    }


.icon--description {
        width: 467.92px;
        height: 119.71px;
        background-position: 0 0;
    }


.icon--fingerprint {
        width: 57.74px;
        height: 58.31px;
        background-position: 85.95037293423682% 59.70486615647905%;
    }


.icon--inputArea {
        width: 355.52px;
        height: 65.19px;
        background-position: 0 39.53304052045837%;
    }


.icon--inputArea-1950 {
        width: 286.58px;
        height: 84.25px;
        background-position: 0 65.16299559471365%;
    }


.icon--next {
        width: 32.73px;
        height: 61.22px;
        background-position: 81.67803891837251% 39.02144859508443%;
    }


.icon--numbers-0 {
        width: 24.34px;
        height: 27.65px;
        background-position: 53.7776675832845% 88.48244454238282%;
    }


.icon--numbers-1 {
        width: 13.64px;
        height: 27.45px;
        background-position: 99.61924465181794% 35.151960064601376%;
    }


.icon--numbers-2 {
        width: 23.84px;
        height: 28.41px;
        background-position: 48.34969380403458% 88.68046762272151%;
    }


.icon--numbers-3 {
        width: 23.25px;
        height: 27.3px;
        background-position: 80.30129286115795% 78.99911945993541%;
    }


.icon--numbers-4 {
        width: 22.93px;
        height: 27.43px;
        background-position: 64.11126339676906% 88.42528701882138%;
    }


.icon--numbers-5 {
        width: 28.42px;
        height: 27.38px;
        background-position: 70.22385003867328% 79.01767365392519%;
    }


.icon--numbers-6 {
        width: 23.77px;
        height: 28.89px;
        background-position: 64.13794655921483% 79.36952611247087%;
    }


.icon--numbers-7 {
        width: 20.91px;
        height: 29.84px;
        background-position: 59.05075040819522% 79.59250059143599%;
    }


.icon--numbers-8 {
        width: 20.03px;
        height: 27.38px;
        background-position: 75.2528071076188% 79.01767365392519%;
    }


.icon--numbers-9 {
        width: 22.41px;
        height: 27.49px;
        background-position: 59.00715904755493% 88.4408681096003%;
    }


.icon--previous {
        width: 32.73px;
        height: 61.22px;
        background-position: 89.19750959174766% 39.02144859508443%;
    }


.icon--skip {
        width: 49.26px;
        height: 32px;
        background-position: 51.284806801356446% 80.10416666666666%;
    }


.icon--title {
        width: 214.75px;
        height: 97.95px;
        background-position: 0 99.66672838363264%;
    }


.title {
    position: relative;
    padding-top: 7%;
    width: 100%;
    margin-bottom: 10px;
    height: 22%;
    min-height: 97px;
}


.title span {
        margin: 0 auto;
    }


@media (min-height: 670px) {


.title {
        padding-top: 9%
}
    }


.description {
    position: relative;
    width: 100%;
    width: 467.92px;
    height: 20%;
    min-height: 120px;
    margin: 0 auto;
    
}


.numbers {
    position: relative;
    margin-top: -20px;
    width: 100%;
    height: 28px;
    margin-bottom: 0;
    text-align: center;
    -webkit-transform: translateY(-40px) translateX(10px);
            transform: translateY(-40px) translateX(10px);
 
}


.numbers li {
        display: inline-block;
        margin-right: 5px;
            
    }


.numbers li:hover {
            cursor: pointer;
            -webkit-transform: scale(1.1) rotate(5deg);
                    transform: scale(1.1) rotate(5deg);
        }


@media (min-height: 670px) {


.numbers {
        margin-top: -30px
 
}
    }


.inputArea {
    position: relative;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 75%;
    height: 40%;
    margin-top: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
}


@media (min-width: 1400px) {


.inputArea {
        width: 75%
}
    }


.inputArea::-webkit-scrollbar {
        width: 20px;

        background: transparent;
        
    }


.inputArea::-webkit-scrollbar-thumb {
            background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(.2, transparent),
            color-stop(0.86, #751B1B));
            border-radius: 10px;
        }


.inputArea::-webkit-scrollbar-thumb-piece {
                background: black;
            }


.inputArea ul {
        width: 90%;
    }


.inputArea ul li {
            position: relative;
        }


.inputArea ul li .input {
                position: absolute;
                top: 10px;
                left: 80px;
                width: 200px;
                height: 50px;
                background-color: transparent;
                font-size: 3rem;
                letter-spacing: 1rem;
            }


.inputArea ul li .input:focus {
                    outline: none;
                }


.inputArea ul li .inputHint {
                position: absolute;
                top: 10px;
                right: 50px;
                width: 170px;
                height: 50px;
                background-color: transparent;
                color: #751B1B;
                font-size: 4rem;
                letter-spacing: 1rem;
            }


@media (min-width: 1400px) {


.inputArea ul {
            width: 90%
    }
    }


.answerArea {
    padding: 0 110px;
    margin-top: -2%;
    text-align: center;
}


.answerArea > div {
        width: 60%;
        display: inline-block;
        font-size: 2rem;
        height: 100%;
        
    }


.answerArea > div p {
            position: relative;
            /* top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%); */
            display: inline-block;
            line-height: 100%;

        }


.answerArea span  {
        position: relative;
        margin-left: 10px;
        display: inline-block;
        cursor: pointer;
    }


.answerArea span span {
            position: absolute;
            top: 8px;
            left: -7px;
            -webkit-transform-origin: center;
                    transform-origin: center;
            -webkit-transform:  scale(.9);
                    transform:  scale(.9);
        }


.answerArea .hints-gold {
        background: -webkit-linear-gradient(rgb(251, 177, 60), rgb(255, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: showUp .5s ease-in-out;
                animation: showUp .5s ease-in-out;
    }


.answerArea .hints-red {
        color: #751B1B;
        /* display: inline; */
        -webkit-animation: showUp .5s ease-in-out;
                animation: showUp .5s ease-in-out;
    }


.answerArea .hints-black {
        color: black;
        /* display: inline; */
        -webkit-animation: showUp .5s ease-in-out;
                animation: showUp .5s ease-in-out;
    }


@media (min-height: 670px) {


.answerArea {
        margin-top: 1%
}
    }


@-webkit-keyframes showUp {
    from {
        opacity:0;
        color: red;
    }
}


@keyframes showUp {
    from {
        opacity:0;
        color: red;
    }
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle , rgba(255, 255, 255, .9), rgba(124, 89, 0, 0.9));
    display: inline;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 5;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;

}


/* 開頭遊戲介紹黃色卷軸紙 */


.modal__container {
        position: absolute;
        padding: 50px 70px;
        width: 550px;
        height: 450px;
        top: 50%;
        left: 50%;
        opacity: 1;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        background: url('../../assets/images/paper-wide.png')  top left no-repeat;;
        background-size: 550px 450px;
    }


.modal__title {
        position: relative;
        text-align: center;
        font-size: 2.5rem;
        top: 0;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
    }


.modal__description {
        position: absolute;
        width: 400px;
        top: 10%;
        left: 10%;
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }


.modal--fontNormal {
        font-size: 1.5rem;
    }


.modal--fontRed {
        color: #751B1B;
    }


.modal--fontMedium {
        font-size: 2.3rem;
    }


.modal--fontLarger {
        font-size: 3.5rem;
    }


.modal--invisible {
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateX(-15px);
                transform: translateX(-15px);
    }


.modal__figure1 {
        position: absolute;
        /* background: url('../../images/figure1.png') center center no-repeat; */
        top: 140%;
        left: 15%;     
    }


.modal__figure2 {
        width: 80%;
        position: absolute;
        /* background: url('../../images/figure2.png') center center no-repeat; */
        top: 120%;
        left: 13%;

    }


.modal__figure3 {
        width: 80%;
        position: absolute;
        /* background: url('../../images/figure3.png') center center no-repeat; */
        top: 120%;
        left: 15%;

    }


/* 開頭介紹操縱鈕 */


.modal__btn {
        opacity: .3;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }


.modal__btn:hover {
            opacity: 1;
            -webkit-transform: translateY(-50%) translateX(4px);
                    transform: translateY(-50%) translateX(4px);
        }


.modal__btn__next {
            position: absolute;
            display: inline-block;
            top: 50%;
            right: 7%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
        }


.modal__btn__previous {
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 7%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
        }


.modal__btn__skip {
            position: absolute;
            display: inline-block;
            top: 14%;
            right: 7%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%); 
        }


@-webkit-keyframes wipeOut {
    0% {
        display: block;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        display: none;
        -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
        opacity: 0;
    }
}


@keyframes wipeOut {
    0% {
        display: block;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        display: none;
        -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
        opacity: 0;
    }
}


@-webkit-keyframes fadeIn {
    
    0% {
        display: none;
        -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
        opacity: 0;
    }
    100% {
        display: block;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}


@keyframes fadeIn {
    
    0% {
        display: none;
        -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
        opacity: 0;
    }
    100% {
        display: block;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
