.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle , rgba(255, 255, 255, .9), rgba(124, 89, 0, 0.9));
    display: inline;
    opacity: 1;
    transform: translateX(0);
    z-index: 5;
    transition: all .5s ease-in;
    
    /* 開頭遊戲介紹黃色卷軸紙 */
    &__container {
        position: absolute;
        padding: 50px 70px;
        width: 550px;
        height: 450px;
        top: 50%;
        left: 50%;
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
        background: url('../../assets/images/paper-wide.png')  top left no-repeat;;
        background-size: 550px 450px;
    }

    &__title {
        position: relative;
        text-align: center;
        font-size: 2.5rem;
        top: 0;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &__description {
        position: absolute;
        width: 400px;
        top: 10%;
        left: 12%;
        opacity: 1;
        transform: translateX(0);
        transition: all .5s ease-in-out;
    }

    &--fontNormal {
        font-size: 1.5rem;
    }

    &--fontRed {
        color: $mainRed;
    }

    &--fontMedium {
        font-size: 2.3rem;
    }

    &--fontLarger {
        font-size: 3.5rem;
    }

    &--invisible {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-15px);
    }



    &__figure1 {
        position: absolute;
        /* background: url('../../images/figure1.png') center center no-repeat; */
        top: 140%;
        left: 15%;     
    }

    &__figure2 {
        width: 80%;
        position: absolute;
        /* background: url('../../images/figure2.png') center center no-repeat; */
        top: 120%;
        left: 13%;

    }

    &__figure3 {
        width: 80%;
        position: absolute;
        /* background: url('../../images/figure3.png') center center no-repeat; */
        top: 120%;
        left: 15%;

    }

    /* 開頭介紹操縱鈕 */

    &__btn {
        opacity: .3;
        transition: all .2s ease-in-out;
        
        &:hover {
            opacity: 1;
            transform: translateY(-50%) translateX(4px);
        }

        &__next {
            position: absolute;
            display: inline-block;
            top: 50%;
            right: 7%;
            transform: translateY(-50%);
        }
        
        &__previous {
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 7%;
            transform: translateY(-50%);
        }

        &__skip {
            position: absolute;
            display: inline-block;
            top: 14%;
            right: 7%;
            transform: translateY(-50%); 
        }
    }

}

