.numbers {
    position: relative;
    margin-top: -20px;
    width: 100%;
    height: 28px;
    margin-bottom: 0;
    text-align: center;
    transform: translateY(-40px) translateX(10px);


    li {
        display: inline-block;
        margin-right: 5px;

        &:hover {
            cursor: pointer;
            transform: scale(1.1) rotate(5deg);
        }
            
    }

    @mixin atTall {
        margin-top: -30px;
    }
 
}
