/* 此為gulp自動化整集svg檔的模板，請小心更改此處  */

    .icon {
        background-image: url('../../assets/images/sprites/sprite-8cfa28d0.svg');
        background-repeat:  no-repeat;
        display: block;
    }
    .icon--O {
        width: 31.65px;
        height: 30.08px;
        background-position: 96.4775982582789% 35.42554450757576%;
    }
    .icon--X {
        width: 30.92px;
        height: 29.56px;
        background-position: 96.31646380525305% 44.25895284245361%;
    }
    .icon--btn {
        width: 52.12px;
        height: 56.51px;
        background-position: 98.67269404635952% 59.3598510385566%;
    }
    .icon--btn-1950 {
        width: 66.04px;
        height: 70.49px;
        background-position: 71.29565130858792% 62.14917145642162%;
    }
    .icon--description {
        width: 467.92px;
        height: 119.71px;
        background-position: 0 0;
    }
    .icon--fingerprint {
        width: 57.74px;
        height: 58.31px;
        background-position: 85.95037293423682% 59.70486615647905%;
    }
    .icon--inputArea {
        width: 355.52px;
        height: 65.19px;
        background-position: 0 39.53304052045837%;
    }
    .icon--inputArea-1950 {
        width: 286.58px;
        height: 84.25px;
        background-position: 0 65.16299559471365%;
    }
    .icon--next {
        width: 32.73px;
        height: 61.22px;
        background-position: 81.67803891837251% 39.02144859508443%;
    }
    .icon--numbers-0 {
        width: 24.34px;
        height: 27.65px;
        background-position: 53.7776675832845% 88.48244454238282%;
    }
    .icon--numbers-1 {
        width: 13.64px;
        height: 27.45px;
        background-position: 99.61924465181794% 35.151960064601376%;
    }
    .icon--numbers-2 {
        width: 23.84px;
        height: 28.41px;
        background-position: 48.34969380403458% 88.68046762272151%;
    }
    .icon--numbers-3 {
        width: 23.25px;
        height: 27.3px;
        background-position: 80.30129286115795% 78.99911945993541%;
    }
    .icon--numbers-4 {
        width: 22.93px;
        height: 27.43px;
        background-position: 64.11126339676906% 88.42528701882138%;
    }
    .icon--numbers-5 {
        width: 28.42px;
        height: 27.38px;
        background-position: 70.22385003867328% 79.01767365392519%;
    }
    .icon--numbers-6 {
        width: 23.77px;
        height: 28.89px;
        background-position: 64.13794655921483% 79.36952611247087%;
    }
    .icon--numbers-7 {
        width: 20.91px;
        height: 29.84px;
        background-position: 59.05075040819522% 79.59250059143599%;
    }
    .icon--numbers-8 {
        width: 20.03px;
        height: 27.38px;
        background-position: 75.2528071076188% 79.01767365392519%;
    }
    .icon--numbers-9 {
        width: 22.41px;
        height: 27.49px;
        background-position: 59.00715904755493% 88.4408681096003%;
    }
    .icon--previous {
        width: 32.73px;
        height: 61.22px;
        background-position: 89.19750959174766% 39.02144859508443%;
    }
    .icon--skip {
        width: 49.26px;
        height: 32px;
        background-position: 51.284806801356446% 80.10416666666666%;
    }
    .icon--title {
        width: 214.75px;
        height: 97.95px;
        background-position: 0 99.66672838363264%;
    }
  