/* 此為gulp自動化整集svg檔的模板，請小心更改此處  */

    .icon {
        background-image: url('../../assets/images/sprites/sprite-a683c5f3.svg');
        background-repeat:  no-repeat;
        display: block;
    }
    .icon--O {
        width: 31.65px;
        height: 30.08px;
        background-position: 80.81127535235476% 54.71709280303029%;
    }
    .icon--X {
        width: 30.92px;
        height: 29.56px;
        background-position: 87.917543699094% 54.63302210140644%;
    }
    .icon--btn {
        width: 52.12px;
        height: 56.51px;
        background-position: 99.37001057997499% 38.43141031814825%;
    }
    .icon--btn-1950 {
        width: 66.04px;
        height: 70.49px;
        background-position: 71.29565130858792% 62.14917145642162%;
    }
    .icon--description {
        width: 467.92px;
        height: 119.71px;
        background-position: 0 0;
    }
    .icon--fingerprint {
        width: 57.74px;
        height: 58.31px;
        background-position: 86.6572417491347% 38.654783816074136%;
    }
    .icon--inputArea {
        width: 355.52px;
        height: 65.19px;
        background-position: 0 39.53304052045837%;
    }
    .icon--inputArea-1950 {
        width: 286.58px;
        height: 84.25px;
        background-position: 0 65.16299559471365%;
    }
    .icon--numbers-0 {
        width: 24.34px;
        height: 27.65px;
        background-position: 89.56633458053464% 63.16438959894225%;
    }
    .icon--numbers-1 {
        width: 13.64px;
        height: 27.45px;
        background-position: 97.74628048243683% 63.12729408310086%;
    }
    .icon--numbers-2 {
        width: 23.84px;
        height: 28.41px;
        background-position: 84.0980727665706% 63.305751052740064%;
    }
    .icon--numbers-3 {
        width: 23.25px;
        height: 27.3px;
        background-position: 57.94491287240023% 78.99911945993541%;
    }
    .icon--numbers-4 {
        width: 22.93px;
        height: 27.43px;
        background-position: 48.250836946997104% 79.02927445165457%;
    }
    .icon--numbers-5 {
        width: 28.42px;
        height: 27.38px;
        background-position: 99.8589562764457% 54.28336562738534%;
    }
    .icon--numbers-6 {
        width: 23.77px;
        height: 28.89px;
        background-position: 93.46284582310965% 54.52508035740614%;
    }
    .icon--numbers-7 {
        width: 20.91px;
        height: 29.84px;
        background-position: 78.87002616922767% 63.573456352022696%;
    }
    .icon--numbers-8 {
        width: 20.03px;
        height: 27.38px;
        background-position: 53.057124361006316% 79.01767365392519%;
    }
    .icon--numbers-9 {
        width: 22.41px;
        height: 27.49px;
        background-position: 94.64081330370969% 63.13470970015564%;
    }
    .icon--title {
        width: 214.75px;
        height: 97.95px;
        background-position: 0 99.66672838363264%;
    }
  